<ul>
    <li><a href="#">HAIR BUNDLE</a></li>
    <li><a href="#">WIGS</a></li>
    <li><a href="#">FRONTALS & CLOSURE</a></li>
    <li><a href="#">HAIR CARE</a></li>
    <li><a href="#">BEAUTY SHOP</a></li>
    <li><a href="/account">ACCOUNT</a></li>
</ul>
<a href="#">Sell</a>