<div class="overlay1"></div>
<header>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">
        <div class="menu-bar">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </label>
    <div class="logo">
        <h1>HeadiZ</h1>
    </div>
    <div class="search">
        <span class="material-icons">search</span>
        <input type="search" placeholder="Search Product and categories...">
    </div>
    <ul>
        <% if(user) { %>
        <li>
            <a href="/account">
              <span class="material-icons">account_circle</span>
              <%= user.fname %>
            </a>
        </li>
        <li>
            <a href="cart">
                <div class="cart-icon">
                     <span class="material-icons">shopping_cart</span>
                    <span id="cart">0</span>
                </div>
                Cart
            </a>
        </li>

        <li >
            <a class="active" href="/logout">
                Logout
            </a>
        </li>
        <% } else { %>
        
        <li>
            <a href="/signup">
              <span class="material-icons">logout</span>
              Sign Up
            </a>
        </li>
        <li>
            <a href="/login">
              <span class="material-icons"> login</span>
              login
            </a>
        </li>
        <li >
            <a class="active" href="#">
              Sell
            </a>
        </li>
        <% } %>
    </ul>
</header>