<div class="overlay1"></div>
<header>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">
        <div class="menu-bar">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </label>
    <div class="logo">
        <h1>HeadiZ</h1>
    </div>
    <div class="search">
        <span class="material-icons">search</span>
        <input type="search" placeholder="Search Product and categories...">
    </div>
    <ul>
        <li>
            <a href="/account">
              <span class="material-icons">account_circle</span>
              Account
            </a>
        </li>
        <li>
            <a href="contact">
              <span class="material-icons"> help_outline</span>
              Help
            </a>
        </li>
        <li>
            <a href="cart">
                <div class="cart-icon">
                    <span class="material-icons">shopping_cart</span>
                    <span id="cart">0</span>
                </div>
              Cart
            </a>
        </li>
        <li >
            <a class="active" href="#">
              Sell
            </a>
        </li>
    </ul>
</header>