<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>
    <div class="categories">
        <%- include('partials/categories.ejs') %>
    </div>
    <div class="body">
    <div class="side-bar">  
        <ul class="breadcrums">
            <li><a href="/">Homepage</a></li>
            <li><a href="account" class="active">Account</a></li>
        </ul>
        <h2>Account</h2>
        <ul class="menu">
            <li><a href="account" class="active">Account Details</a></li>
            <li><a href="order">Orders</a></li>
            <li><a href="cart">Saved item</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>

    <div class="main-content">
        <form class="headiz-form">
            <div class="input-group">
                <div class="input-field">
                    <label>
                        <p>First Name</p>
                        <input type="text" name="fname">
                    </label>
                    <p class="message"></p>
                </div>
                <div class="input-field">
                   <label>
                       <p>Last Name</p>
                       <input type="text" name="lname">
                   </label>
                   <p class="message"></p>
                </div>
            </div>
            <div class="input-field">
               <label>
                   <p>Phone Number</p>
                   <input type="number" name="pnumber">
               </label>
               <p class="message"></p>
            </div>
            <div class="input-field">
               <label>
                   <p>Email address</p>
                   <input type="email" name="email">
               </label>
               <p class="message"></p>
            </div>
             <h3 style="margin: 60px 0 30px;">Reset password</h3>
            <div class="input-field">
               <label>
                   <p>Current password</p>
                   <div class="password">
                    <input type="password" name="password">
                    <span class="material-icons">visibility</span>
                   </div>
               </label>
               <p class="message"></p>
            </div>
            <div class="input-field">
                <label>
                    <p>New password</p>
                    <div class="password">
                     <input type="password" name="password">
                     <span class="material-icons">visibility</span>
                    </div>
                </label>
             </div>
             <div class="input-field">
                <label>
                    <p>Confirm password</p>
                    <div class="password">
                     <input type="password" name="password">
                     <span class="material-icons">visibility</span>
                    </div>
                </label>
             </div>

             <button type="submit">Save Changes</button>
        </form>
    </div>
</div>

<script src="index.js"></script>
<script>
    var headiz_form = document.querySelector('form')

   headiz_form.addEventListener('submit', e => {
       e.preventDefault()
       var fname = e.target.fname
       if(fname.value == ''){
           let message = fname.parentElement.nextElementSibling
           message.innerHTML = ' please enter your first name'
           return false
       }
       else{
           let message = fname.parentElement.nextElementSibling
           message.innerHTML = ' '
       }

       })
       var lname = e.target.lname
       if(lname.value == ''){
           let er = lname.parentElement.nextElementSibling
           er.innerHTML = 'please enter your last name'
           return false
       }
       else{
           let er = lname.parentElement.nextElementSibling
           er.innerHTML = ' '
       }
       var pnumber = e.target.pnumber
       if(pnumber.value == ''){
           let er = pnumber.parentElement.nextElementSibling
           er.innerHTML = 'please enter your last name'
           return false
       }
       else{
           let er = pnumber.parentElement.nextElementSibling
           er.innerHTML = ' '
       }
       var email = e.target.email
       if(email.value == ''){
           let er = email.parentElement.nextElementSibling
           er.innerHTML = 'please enter your email'
           return false
       }
       else{
           let er = email.parentElement.nextElementSibling
           er.innerHTML = ' '
       }
       var password = e.target.password
       if(password.value == ''){
           let er = password.parentElement.parentElement.nextElementSibling
           er.innerHTML = 'please enter your password'
           return false
       }
       else{
           let er = password.parentElement.parentElement.nextElementSibling
           er.innerHTML = ' '
       }
</script>
</body>
</html>