<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>

    <div class="categories">
        <%- include('partials/categories.ejs) %>
    </div>

    <div class="details">
        <div class="billing-details">
            <h3>BILLING DETAILS</h3>
         <form action="">
             <div class="input-group">
                 <div class="input-field">
                     <label>
                         <p>First Name<span>*</span></p>
                         <input type="text" name="fname" required>
                     </label>
                 </div>
                 <div class="input-field">
                    <label>
                        <p>Last Name<span>*</span></p>
                        <input type="text" name="fname" required>
                    </label>
                 </div>
             </div>
             <div class="input-field">
                <label>
                    <p>Address<span>*</span></p>
                    <input type="text" name="fname" required>
                </label>
             </div>
             <div class="input-field">
                <label>
                    <p>Town/City<span>*</span></p>
                    <input type="text" name="fname" required>
                </label>
             </div>
             <div class="input-field">
                <label>
                    <p>State<span>*</span></p>
                    <input type="text" name="fname" required>
                </label>
             </div>
             <div class="input-field">
                <label>
                    <p>Phone Number<span>*</span></p>
                    <input type="text" name="fname" required>
                </label>
             </div>
             <div class="input-field">
                <label>
                    <p>Email address<span>*</span></p>
                    <input type="text" name="fname" required>
                </label>
             </div>
         </form>
        </div>

        <div class="order-details formD">
            <h3>YOUR DETAILS</h3>
            <div>
                <div class="order-card">
                    <p>
                        <span>Subtotal</span>
                        <span>$60,000.00</span>
                    </p>
                    <p>
                        NOTE: international orders, shipping cost is calculated differently.
                        shipping options will be updated during checkout. 
                        delivery fee is not included yet.
                    </p>
                    <p>
                        <strong>TOTAL</strong>
                        <span>$60,000.00</span>
                    </p>
                </div>
                <p>Delievery Cost Applies</p>

                <div class="options">
                    <div class="pay-field">
                      <input type="radio" id="pay">
                      <label for="pay"><span class="material-icons radio">radio_button_checked</span> Pay on Delievery</label>
                      <div>
                          <small>
                              Payment on Delievery will cost an extra charges. it takes 3-4 days to arrive
                          </small>
                      </div>
                    </div>
                    <div class="pay-field">
                      <input type="radio" id="pay">
                      <label for="pay"><span class="material-icons radio">radio_button_checked</span> Card payment</label>
                     <span class="payment">
                        <img src="Verve-Logo-750x396.png">
                        <img src="master card.png">
                        <img src="visaa.png" alt="">
                        <img src="interswitch.png" alt="">
                    </span>
                      <div>
                          <small>
                             Card Payment processes by verse, MasterCard, visa and interswitch
                          </small>
                      </div>
                    </div>
                    <form action="">
                        <div class="input-field">
                            <label>
                                <p>Card Holder's Name</p>
                                <input type="text" name="CH-name">
                            </label>
                         </div> 
                         <div class="input-field">
                            <label>
                                <p>Email address</p>
                                <input type="email" name="email">
                            </label>
                         </div>
                         <div class="name">
                            <div class="input-field">
                                <label>
                                    <p>Expiry Date</p>
                                    <input type="date" name="expiry">
                                </label>
                            </div>
                            <div class="input-field">
                               <label>
                                   <p>CVV</p>
                                   <input type="number" name="cvv">
                               </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="button">
              <label for="agree">
                <span class="material-icons radio">check_box</span>
                  <input type="checkbox" id="agree" required>
                  <span>I have agree to the website <a href="">terms and conditions.</a></span>
              </label>

              <button>Place Order</button>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
    <script src="index.js"></script>
</body>
</html>