<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>

    <div class="categories">
        <%- include('partials/categories.ejs') %>
    </div>

    <div class="body">
        <div class="side-bar">
            <ul class="breadcrums">
                <li><a href="/">Homepage</a></li>
                <li><a href="contact" class="active">Contact Us</a></li>
            </ul>
            <h2>Contact Us</h2>
        </div>
        <div class="main-content">
            <form action="" class="contact">
                <div class="input-field">
                   <label>
                       <p>Username</p>
                       <input type="text" name="uname">
                   </label>
                </div>
                <div class="input-field">
                   <label>
                       <p>Email address</p>
                       <input type="email" name="email">
                   </label>
                </div>
                <div class="input-field">
                    <label>
                        <p>Message</p>
                        <textarea name="message" id="" cols="100%" rows="10"></textarea>
                    </label>
                 </div>
    
                 <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>