<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>

    <div class="categories">
        <%- include('partials/categories.ejs') %>
    </div>

    <div class="block">
        <h3>Forgot Password?</h3>
        <small>Please enter your email address. you will receive a 
            Link via your email to create a new password</small>

            <form>
                <div class="input-field">
                    <label>
                        <p>Email Address</p>
                        <input type="email" name="email">
                    </label>
                    <p class="error email"></p>
                 </div>
                 <button type="submit">Reset Password</button>
            </form>
    </div>
    <script src="index.js"></script>
    <script>
        var form = document.querySelector('form')
        var email = document.querySelector('.error.email')

        form.addEventListener('submit', async (e) => {
            e.preventDefault()

            email.innerHTML = ''

            var doc = {
                email: form.email.value
            }

            var result = await fetch('/forgetpassword', {
                method: "PUT",
                body: JSON.stringify(doc),
                headers: {"Content-Type": "application/json"}
            })
            var data = await result.json()
            if(data.newpword){
                location.assign('login')
            }
            else if(data.error){
                email.innerHTML = data.error.email
            }
        })
    </script>
</body>
</html>