<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>

    <div class="categories">
        <%- include('partials/categories.ejs') %>
    </div>

    <div class="block">
        <h3>Forgot Password?</h3>
        <small>Please enter your email address. you will receive a 
            Link via your email to create a new password</small>

            <form action="#">
                <div class="input-field">
                    <label>
                        <p>Email Address</p>
                        <input type="email" name="email">
                    </label>
                 </div>
                 <button type="submit">Reset Password</button>
            </form>
    </div>
    <script src="index.js"></script>
</body>
</html>