<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>
    <div class="categories" style="display: none;">
        <%- include('partials/categories.ejs') %>
    </div>

    <div class="search">
        <span class="material-icons">search</span>
        <input type="search" placeholder="Search Product and categories...">
    </div>

    <div class="headiz_slide">
        <div class="slide active" style="display: block">
            <div>
                <div class="slide-details">
                    <h1>
                        100% VIRGIN
                        HUMAN HAIR
                    </h1>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                    <a href="#" class="link"> Shop Now &rarr;</a>
                </div>
                <img src="img/IMG-20210720-WA0083.jpg" alt="">
            </div>
        </div>
        <div class="slide">
            <div>
                <div class="slide-details">
                    <h1>
                        100% VIRGIN
                        HUMAN HAIR
                    </h1>
                     <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                     <a href="#" class="link"> Shop Now &rarr;</a>
                </div>
                <img src="img/IMG-20210720-WA0082.jpg" alt="">
            </div>
        </div>
        <div class="slide">
            <div>
                <div class="slide-details">
                    <h1>
                        100% VIRGIN
                        HUMAN HAIR
                    </h1>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                    <a href="#" class="link"> Shop Now &rarr;</a>
                </div>
                <img src="img/IMG-20210720-WA0089.jpg" alt="">
            </div>
        </div>
        <div class="slide">
            <div>
                <div class="slide-details">
                    <h1>
                        100% VIRGIN
                        HUMAN HAIR
                    </h1>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                    <a href="#" class="link"> Shop Now &rarr;</a>
                </div>
                <img src="img/IMG-20210720-WA0110.jpg" alt="">
            </div>
        </div>
        <div class="slide">
            <div>
                <div class="slide-details">
                    <h1>
                        100% VIRGIN
                        HUMAN HAIR
                    </h1>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                    <a href="#" class="link"> Shop Now &rarr;</a>
                </div>
                <img src="img/human-hair2" alt="">
            </div>
        </div>
        <div class="slide">
            <div>
                <div class="slide-details">
                    <h1>
                        100% VIRGIN
                        HUMAN HAIR
                    </h1>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                    <a href="#" class="link"> Shop Now &rarr;</a>
                </div>
                <img src="img/IMG-20210720-WA0089.jpg" alt="">
            </div>
        </div>
        <div class="slide">
            <div>
                <div class="slide-details">
                    <h1>
                        100% VIRGIN
                        HUMAN HAIR
                    </h1>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                    <a href="#" class="link"> Shop Now &rarr;</a>
                </div>
                <img src="img/human-hair2">
            </div>
        </div>
        <div class="slide">
            <div>
                <div class="slide-details">
                    <h1>
                        100% VIRGIN
                        HUMAN HAIR
                    </h1>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                    <a href="#" class="link"> Shop Now &rarr;</a>
                </div>
                <img src="img/IMG-20210720-WA0083.jpg" alt="">
            </div>
        </div>

        <span class="material-icons prev" onclick="prev()">chevron_left</span>
        <span class="material-icons next" onclick="next()">navigate_next</span>

        <div class="dot-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <div class="human-hair">
        <div>
            <h3>Luxury human hair</h3>
            <p>See All &rarr;</p>
        </div>
        <div class="cards">
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0096.jpg">
                  <a class="a">Add To Cart</a> 
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div> 
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0095.jpg">
                  <a class="a">Add To Cart</a> > 
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div> 
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0098.jpg">
                  <a class="a">Add To Cart</a>  
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0082.jpg">
                  <a class="a">Add To Cart</a>  
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div> 
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0083.jpg">
                  <a class="a">Add To Cart</a>  
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0084.jpg">
                  <a class="a">Add To Cart</a> 
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div> 
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0091.jpg">
                  <a class="a">Add To Cart</a>  
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div> 
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0094.jpg">
                  <a class="a">Add To Cart</a> 
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0108.jpg">
                  <a class="a">Add To Cart</a> 
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod amet</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div> 
                </div>
            </div>
            <div class="card">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0104.jpg">
                  <a class="a">Add To Cart</a> 
                </div>
                <div>
                    <small>Aliqua dolore veniam eiusmod</small>
                    <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                    </div> 
                </div>
            </div>
        </div>
        <button class="ripple">See More</button>
    </div>

    <div class="billboard">
        <div>
            <img src="img/IMG-20210720-WA0090.jpg">
        </div>
        <div>
            <img src="img/IMG-20210720-WA0089.jpg">
        </div>
    </div>

    <div class="billboards">
        <div>
            <div class="Bslide" style="display: block;">
                <img src="img/IMG-20210720-WA0090.jpg">
            </div>
            <div class="Bslide">
                <img src="img/IMG-20210720-WA0089.jpg">
            </div>
        </div>

        <div class="dot-container-b">
            <div class="dot-b active1"></div>
            <div class="dot-b"></div>
        </div>
    </div>

    <div class="products">
        <div class="text">
            <p>Hair Care Producs</p>
            <p>View All
                <span class="material-icons">navigate_next</span>
            </p>
        </div>

        <div class="items owl-carousel owl-carousel">
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0099.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0093.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0105.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0086.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0106.jpg">
                  <a href="#" class="a">Add To Cart</a> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0105.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0093.jpg">
                  <a href="#" class="a">Add To Cart</a> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0106.jpg">
                  <a href="#" class="a">Add To Cart</a> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/human-hair.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="text">
            <p>Beauty Producs</p>
            <p>View All 
                <span class="material-icons">navigate_next</span>
            </p>
        </div>
        <div class="items owl-carousel owl-theme">
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0109.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0107.jpg">
                  <a href="#" class="a">Add To Cart</a> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0107.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/human-hair2.jpg">
                  <a href="#" class="a">Add To Cart</a> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/human-hair4.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/human-hair.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/human-hair4.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/human-hair.jpg">
                  <a href="#" class="a">Add To Cart</a>  
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/human-hair2.jpg">
                  <a href="#" class="a">Add To Cart</a> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
        </div>
    </div>
    <!-- <ul id="lightSlider">
        <li class="item item-a">
            <div>
                <span class="material-icons">favorite_border </span>
                <img src="img/human-hair2.jpg">
                <p class="a">Add To Cart</p> 
            </div>
            <small>Aliqua dolore veniam eiusmod</small>
            <p># 3,699</p>
        </li>
        <li class="item item-b">
            <div>
                <span class="material-icons">favorite_border </span>
                <img src="img/human-hair2.jpg">
                <p class="a">Add To Cart</p> 
            </div>
            <small>Aliqua dolore veniam eiusmod</small>
            <p># 3,699</p>
        </li>
        <li class="item item-c">
            <div>
                <span class="material-icons">favorite_border </span>
                <img src="img/human-hair2.jpg">
                <p class="a">Add To Cart</p> 
            </div>
            <small>Aliqua dolore veniam eiusmod</small>
            <p># 3,699</p>
        </li>
        <li class="item item-d">
            <div>
                <span class="material-icons">favorite_border </span>
                <img src="img/human-hair2.jpg">
                <p class="a">Add To Cart</p> 
            </div>
            <small>Aliqua dolore veniam eiusmod</small>
            <p># 3,699</p>
        </li>
        <li class="item item-e">
            <div>
                <span class="material-icons">favorite_border </span>
                <img src="img/human-hair2.jpg">
                <p class="a">Add To Cart</p> 
            </div>
            <small>Aliqua dolore veniam eiusmod</small>
            <p># 3,699</p>
        </li>
        <li class="item item-f">
            <div>
                <span class="material-icons">favorite_border </span>
                <img src="img/human-hair2.jpg">
                <p class="a">Add To Cart</p> 
            </div>
            <small>Aliqua dolore veniam eiusmod</small>
            <p># 3,699</p>
        </li>
    </ul> -->

    <%- include('partials/footer.ejs') %>
    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      $(document).ready(function(){
     $('.items').owlCarousel({
    loop:true,
    margin: 10,
    center: true,
    autoplay:true,
    responsive:{
        0:{
            items:1
        },
        670:{
            items:2
        },
        770:{
            items:3
        },
        860:{
            items:4
        },
        1080:{
            items:5
        },
        1360:{
            items:6
        },
        1650:{
            items:7
        },
    }
})
})
</script>
</body>
</html>