<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>
    
    <div class="categories">
        <%- include('partials/categories.ejs') %>
    </div>

    <div class="body">
        <div class="side-bar">  
            <ul class="breadcrums">
                <li><a href="/">Homepage</a></li>
                <li><a href="account" class="active">Account</a></li>
            </ul>
            <h2>Login</h2>
        </div>
    
        <div class="main-content">
            <form class="login">
                <div class="input-field">
                   <label>
                       <p>Email address</p>
                       <input type="email" name="email">
                   </label>
                   <p class="error email"></p>
                </div>
                <div class="input-field">
                    <label>
                        <p>Password</p>
                        <div class="password">
                         <input type="password" name="password">
                         <span class="material-icons">visibility</span>
                        </div>
                        <div class="forgetPassword">
                            <p class="error password"></p>
                            <a href="forgetpassword">Forget Password?</a>
                        </div>
                    </label>
                 </div>
                 <div class="button">
                    <button type="submit">Login</button>
                    <p>Not a Member? <a href="signup">Register</a></p>
                 </div>
            </form>
    
        </div>
    </div>
    

    
    <script src="index.js"></script>
    <script>
        var login_form = document.querySelector('.login')
        var emailError = document.querySelector('.error.email')
        var passwordError = document.querySelector('.error.password')

        login_form.addEventListener('submit', async (e) => {
            e.preventDefault()

            emailError.innerHTML = ''
            passwordError.innerHTML = ''

            var doc = {
                email: login_form.email.value,
                password: login_form.password.value
            }

            try{
                var result = await fetch('/login', {
                    method: "POST",
                    body: JSON.stringify(doc),
                    headers: {"Content-Type": "application/json"}
                })
                var data = await result.json()
                if(data.user){
                    location.assign('/')
                }
                else if(data.error){
                    emailError.innerHTML = data.error.email
                    passwordError.innerHTML = data.error.password
                }
            }
            catch (err){
                console.log(err)
            }
        })
    </script>
</body>
</html>