<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>

    <div class="categories">
        <%- include('partials/categories.ejs') %>
    </div>
    <div class="body">
        <div class="side-bar">
            <ul class="breadcrums">
                <li><a href="/">Homepage</a></li>
                <li><a href="account" class="active">Account</a></li>
            </ul>
            <h2>Dashboard</h2>
            <ul class="menu">
                <li><a href="account">Account Details</a></li>
                <li><a href="order" class="active">Orders</a></li>
                <li><a href="cart">Saved item</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>

        <div class="main-content">
            <div class="saved-items">
                <div class="order-item">
                    <div>
                        <img src="img/IMG-20210720-WA0096.jpg">
                        <div class="text">
                          <strong>Super Wavy brazilian hair wig</strong>
                          <div>
                            <p>$70,000</p>
                            <p>13 july 2021</p>
                          </div>
                        </div>
                    </div>
                    <div>
                        <p><strong>Payment Successful</strong></p>
                    </div>
                </div>
                <div class="order-item">
                    <div>
                        <img src="img/IMG-20210720-WA0096.jpg">
                        <div class="text">
                          <strong>Super Wavy brazilian hair wig</strong>
                          <div>
                            <p>$70,000</p>
                            <p>13 july 2021</p>
                          </div>
                        </div>
                    </div>
                    <div>
                        <p><strong>Payment Successful</strong></p>
                    </div>
                </div>
                <div class="order-item">
                    <div>
                        <img src="img/IMG-20210720-WA0096.jpg">
                        <div class="text">
                          <strong>Super Wavy brazilian hair wig</strong>
                          <div>
                            <p>$70,000</p>
                            <p>13 july 2021</p>
                          </div>
                        </div>
                    </div>
                    <div>
                        <p><strong>Payment Successful</strong></p>
                    </div>
                </div>
                <div class="order-item">
                    <div>
                        <img src="img/IMG-20210720-WA0096.jpg">
                        <div class="text">
                          <strong>Super Wavy brazilian hair wig</strong>
                          <div>
                            <p>$70,000</p>
                            <p>13 july 2021</p>
                          </div>
                        </div>
                    </div>
                    <div>
                        <p><strong>Payment Successful</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>