<%- include('partials/head.ejs') %>
<body style="background-color: #f0f0f0;">
    <%- include('partials/navBar.ejs') %>
    <div class="categories" style="display: none;">
        <%- include('partials/categories.ejs') %>
    </div>
    <div class="product-details">
        <div>
            <img src="img/IMG-20210720-WA0094.jpg">
        </div>
        <div>
            <h4>SUPER WAVES HUMAN HAIR WIG</h4>
            <p>
                Raw super waves human hair that you can wear for more than 10 years.
                The promise of the collection is Quality and nothing less than Quality.
                We have put in so much effort to source the best quaility raw hair that 
                is 100% tangle free, doesn't shed and always silky even after numerous washes.
            </p>
            <div class="stars">
                <span class="material-icons">star_rate</span>
                <span class="material-icons">star_rate</span>
                <span class="material-icons">star_rate</span>
                <span class="material-icons">star_rate</span>
                <span class="material-icons">star_rate</span>
            </div>
            <div class="price">
                <span><s>$70,000</s></span>
                <span>$60,000</span>
            </div>
            <div class="price-field">
                <div>
                    <div>-</div>
                    <div>1</div>
                    <div>+</div>
                </div>
                <button type="submit">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="text">
            <p>Releted Product</p>
        </div>
        <div class="items owl-carousel">
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0109.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0107.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0107.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0096.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0094.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0095.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0082.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0108.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
            <div class="item">
                <div>
                  <span class="material-icons">favorite_border </span>
                  <img src="img/IMG-20210720-WA0083.jpg">
                  <p>Add To Cart</p> 
                </div>
                <small>Aliqua dolore veniam eiusmod</small>
                <p># 3,699</p>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
     $('.items').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true,
    responsive:{
        0:{
            items:1
        },
        690:{
            items:2
        },
        790:{
            items:3
        },
        800:{
            items:4
        },
        1090:{
            items:5
        },
        1270:{
            items:6
        }
    }
})
})
    </script>
</body>
</html>