<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>

    <div class="categories">
        <%- include('partials/categories.ejs') %>
    </div>
    <div class="body">
    <div class="side-bar">
        <ul class="breadcrums">
            <li><a href="/">Homepage</a></li>
            <li><a href="cart" class="active">saved-item</a></li>
        </ul>
        <h2>Saved Items</h2>
        <ul class="menu">
            <li><a href="account" >Account Details</a></li>
            <li><a href="order">Orders</a></li>
            <li><a href="cart" class="active">Saved item</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="saved-items">
            <div class="saved-item">
                <div>
                    <img src="img/IMG-20210720-WA0082.jpg">
                    <div class="text">
                      <strong>Super Wavy brazilian hair wig</strong>
                      <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                      </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="#">Buy Now</a>
                    <a href="#" id="remove">Remove</a>
                </div>
            </div>
            <div class="saved-item">
                <div>
                    <img src="img/IMG-20210720-WA0094.jpg">
                    <div class="text">
                      <strong>Super Wavy brazilian hair wig</strong>
                      <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                      </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="#">Buy Now</a>
                    <a href="#" id="remove">Remove</a>
                </div>
            </div>
            <div class="saved-item">
                <div>
                    <img src="img/IMG-20210720-WA0096.jpg">
                    <div class="text">
                      <strong>Super Wavy brazilian hair wig</strong>
                      <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                      </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="#">Buy Now</a>
                    <a href="#" id="remove">Remove</a>
                </div>
            </div>
            <div class="saved-item">
                <div>
                    <img src="img/IMG-20210720-WA0095.jpg">
                    <div class="text">
                      <strong>Super Wavy brazilian hair wig</strong>
                      <div class="price">
                        <span><s>$70,000</s></span>
                        <span>$60,000</span>
                      </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="#">Buy Now</a>
                    <a href="#" id="remove">Remove</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="index.js"></script>
    <script>
         //CART
       var dels = document.querySelectorAll('#remove')
       var cart = document.querySelector('#cart')
       var cart_length = dels.length
       cart.innerHTML = cart_length
       dels.forEach(del => {
           del.addEventListener('click', e => {
               let item = e.target.closest('.saved-item')
               let items = document.querySelector('.saved-items')
   
               items.removeChild(item)
               cart_length--
               cart.innerHTML = cart_length
   
           })
       })
    </script>
</body>
</html>