<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navBar.ejs') %>
    <div class="categories">
        <%- include('partials/categories.ejs') %>
    </div>

       <div class="block">
           <img src="img/party popper.jpg">
           <h3>Your Order is Complete!</h3>
           <small>We have sent you an email and SMS with all the details of your Order.</small>
           <button>Continue Shopping</button>
       </div>

       <script src="index.js"></script> 
</body>
</html>