<%- include('partials/head.ejs') %>
<body>
    <div class="overlay1"></div>
    <header>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">
            <div class="menu-bar">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </label>
        <div class="logo">
            <h1>HeadiZ</h1>
        </div>
        <ul>
            <li >
                <a class="active" href="#">
                  Logout
                </a>
            </li>
        </ul>
    </header>
        <div class="categories" style="display: none;">
            <%- include('partials/categories.ejs') %>
    </div>
    <div class="body upload">
        <div class="side-bar">
            <div class="profile-pics">
                <input type="file" name="profilePics" id="DP">
            </div>

        <ul class="menu">
            <li><a href="my-product">View my product</a></li>
            <li><a href="upload" class="active">Upload a product</a></li>
            <li><a href="account">Account Details</a></li>
            <li><a href="order">Orders</a></li>
            <li><a href="cart">Saved item</a></li>
        </ul>
        </div>
        <div class="main-content ">
            <form action="/upload" method="POST" enctype="multipart/form-data" class="formD">
                <div>
                    <div>
                       <div class="drop-zone">
                           <div class="drop-prompt">
                            <img src="img/insert-picture-icon.svg">
                            <p>Drop your image here or 
                                <label for="myfile">
                                    browse
                                </label>
                            </p>
                            <small>Supports: JPG, PNG</small>
                           </div>
                           <input type="file" name="image" id="myfile">
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-field">
                        <label>
                            <p>Category</p>
                            <select name="category">
                                <option value="">Select Category</option>
                                <option value="hairBundle">Hair Bundle</option>
                                <option value="wig">WIGS</option>
                                <option value="f/c">FRONTAL AND CLOSURE</option>
                                <option value="hairCare">HAIR CARE</option>
                                <option value="beautyShop">BEAUTY SHOP  </option>
                            </select>
                        </label>
                    </div>
                    <div class="input-field">
                       <label>
                           <p>Type</p>
                           <input type="text" name="type">
                       </label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-field">
                        <label>
                            <p>Product Name</p>
                            <input type="text" name="pname">
                        </label>
                    </div>
                    <div class="input-field">
                       <label>
                           <p>Price</p>
                           <input type="text" name="price">
                       </label>
                    </div>
                </div>
                  <div class="input-field">
                    <label>
                        <p>Description</p>
                        <textarea name="message" id="" cols="100%" rows="10"></textarea>
                    </label>
                 </div>
                 <button type="submit">Upload</button>
            </form>
        </div>

    </div>
        
    <script src="index.js"></script>  
    <script>
        var drop_input = document.querySelector('#myfile')
    var drop_zone = drop_input.closest('.drop-zone')
    var drag_array =  ['dragleave', 'dragend', 'drop']

    drop_zone.addEventListener('dragover', (e) => {
        e.preventDefault()
        drop_zone.classList.add('drop-over')
    });
    drag_array.forEach(type => {
        drop_zone.addEventListener(type, (e) => {
            drop_zone.classList.remove('drop-over')
        })
    });
    drop_zone.addEventListener('drop', e => {
        e.preventDefault()
        drop_zone.querySelector('.drop-prompt').remove()

       if(e.dataTransfer.files.length){
            drop_input.files = e.dataTransfer.files;
            updateThumb(drop_zone, e.dataTransfer.files[0]);
           
        }
    });
    drop_input.addEventListener('change', e => {
        e.preventDefault()
        drop_zone.querySelector('.drop-prompt').remove()
        if(drop_input.files.length){ 
            updateThumb(drop_zone, drop_input.files[0]);
        }
    })

   function updateThumb(drop_zone, file){
        var thumb = document.querySelector('.drop-zone-thumb')
        var thumb_img = document.querySelector('.drop-zone-thumb img')

        if(!thumb){
            thumb = document.createElement('div')
            thumb_img = document.createElement('img')
            thumb.classList.add('drop-zone-thumb')
            thumb.appendChild(thumb_img)
            drop_zone.appendChild(thumb)

            if(file.type.startsWith("image/")){
            thumb_img.src = URL.createObjectURL(file)  
        }
        else{
            thumb.classList.remove('drop-zone-thumb')
            thumb.classList.add('drop-prompt2')
            var thumb_text = document.createElement(p)
            thumb_text.textContent = 'Upload only images'
            thumb.appendChild(thumb_text)
            drop_zone.appendChild(thumb)
        }
        }
        else{
            if(file.type.startsWith("image/")){
            thumb_img.src = URL.createObjectURL(file)  
        }
        else{
            thumb.classList.remove('drop-zone-thumb')
            thumb.classList.add('drop-prompt2')
            var thumb_text = document.createElement(p)
            thumb_text.textContent = 'Upload only images'
            thumb.appendChild(thumb_text)
            drop_zone.appendChild(thumb)
        }
        }
    };
    </script> 
</body>
</html>